.wrapper {
    padding: 20px;
    background: black;
    color: white;
    font-size: 2rem;

    .highlight {
        color: orange;
        font-weight: bold;
    }
}

.menus {
    background: gray;
}

:global .commonColor { // :global -> 변환 작용이 이루어지지 않음
    color: blue;
}
