<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>순번</th>
            <th>이메일</th>
            <th>회원명</th>
            <th>가입일시</th>
        </tr>
        <tr th:each="item, s : ${items}" th:object="${item}">
            <td>
                순번:[[${s.count}]]
                / 첫번째 : [[${s.first}]]
                / 마지막 : [[${s.last}]]
                / 짝수 : [[${s.even}]]
                / 홀수 : [[${s.odd}]]
            </td>
            <td th:text="*{email}"></td>
            <td th:text="*{userName}"></td>
            <td th:text="*{regDt}"></td>
        </tr>
        </thead>
    </table>
</body>
</html>