<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <table border="1">
        <thead>
        <tr>
            <th>이메일</th>
            <th>비밀번호</th>
            <th>회원명</th>
        </tr>
        <tr th:each="item : ${items}" th:object="${item}">
            <td th:text="*{email}"></td>
            <td th:text="*{userName}"></td>
            <td th:text="*{regDt}"></td>
        </tr>
        </thead>
    </table>
</body>
</html>