
            .box {
                padding: 100px;
            }

            .box1 {
                background: gray;
            }

            .box2 {
                background-color: green;
            }

            .box3 {
                background: orange;
            }


